body{
    margin:0;
}

h3 {
    text-align: center;
    margin: 1.5em 0;
    font-size: 1.5em;
}

.topnav {
  background-color: #333;
  display: flex;
  margin: 0 auto;
}

.hero {
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em 0;
}

.git-command img {
    box-shadow: 2px 2px 5px 3px rgba(10,10,10,0.4);
}

.text-container {
    margin: 0 6em;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.wrapper {
    flex-grow: 5;
}
.topnav .icon {
    flex-grow: -1;
}

span {
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px){
  .topnav .search{
    display:none;
  }
}
@media screen and (max-width: 600px){
  .cell img{
    display:block;
    margin:5px;
}
@media screen and (max-width: 600px){
  .responsive-image{
    max-width:100%;
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
